# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Distribute directories
dist

# IDE/Editor config
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store

# Gulp cache
.gulp/

# Env files
.env
