{% extends "templates/page.html" %}

{% block page__content %}
<p>
  <a class="link link_view_default" href="text.html">text</a>
</p>
<p>
  <a class="link link_view_default" href="content.html">content</a>
</p>
<p>
  <a class="link link_view_default" href="button.html">button</a>
</p>
<p>
  <a class="link link_view_default" href="link.html">link</a>
</p>
<p>
  <a class="link link_view_default" href="icon.html">icon</a>
</p>
<p>
  <a class="link link_view_default" href="image.html">image</a>
</p>
<p>
  <a class="link link_view_default" href="embed.html">embed</a>
</p>
{% endblock page__content %}
