<!doctype html>
<html lang="ru">

  <head>
    {% block head__meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock head__meta %}

    {% block head__title %}
    <title>
      {% block head__titleContent %}{% endblock %}
    </title>
    {% endblock head__title %}

    {% block head__styles %}
    <link rel="stylesheet" href="main.css">
    {% endblock head__styles %}
  </head>

  <body class="page">
    <div class="container container_align_center container_size_s">
      {% block page__content %}{% endblock page__content %}
    </div>

    {% block page__scripts %}
    <script src="main.js"></script>
    {% endblock page__scripts %}
  </body>

</html>
