:root {
  --ba-image-shape: var(--ba-sys-shape-extra-small);
}

.image {
  vertical-align: middle;
}

.image_fluid {
  max-width: 100%;
  height: auto;
}

.image_rounded {
  border-radius: var(--ba-image-shape);
}

.image_circle {
  border-radius: 50%;
}
