:root {
  /* Container size variables */
  --ba-container-size-full: 100%;
  --ba-container-size-medium: 1144px;
  --ba-container-size-small: 880px;
  --ba-container-size-extra-small: 560px;
}

.container {
  box-sizing: border-box;
  width: 100%;
}

.container_align_center {
  margin: auto;
}

.container_size_full {
  max-width: var(--ba-container-size-full);
}

.container_size_m {
  max-width: var(--ba-container-size-medium);
}

.container_size_s {
  max-width: var(--ba-container-size-small);
}

.container_size_xs {
  max-width: var(--ba-container-size-extra-small);
}
